<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EczaneIlacSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://194.27.55.12/hemcis/EczaneIlac.asmx"
                binding="basicHttpBinding" bindingConfiguration="EczaneIlacSoap"
                contract="EczaneIlacWS.EczaneIlacSoap" name="EczaneIlacSoap" />
        </client>
    </system.serviceModel>
</configuration>